/* app css stylesheet */

body {
  padding-top: 20px;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

/* specific app related styling */

body {
    font-family: 'Raleway', sans-serif;
}

.heading {
    padding-bottom: 20px;
}

div>pre.prettyprint {
    border: 0px; !important
}

div>.pom-chooser {
    padding-top:2px;
    /*margin-bottom:30px;*/
    /*font-weight: bold;*/
}
.pom-chooser-body {
    padding-top : 25px;
    /*padding-left : 10px;*/
    /*padding-right : 10px;*/
}

/* dagre */

svg {
    /*border: 1px solid black;*/
    overflow: hidden;
}

div.tab-body {
    padding-top : 20px;
    padding-left : 10px;
    padding-right : 10px;
}

ul.dependency-list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}
.dependency-list li {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-left: 0px;
    padding-left: 0px;
}
.dependency-list li:last-child {
    border-bottom: none;
}
.uniprot-dependency {
    font-weight : bold;
    color : #0f55bf;
}

ul.pom-list {
    list-style-type: none;
}
.pom-list li {
    padding-bottom: 7px;
    padding-top: 6px;
    margin-left: 0px;
    padding-left: 0px;
}
/*li.pom-list-item-hovering {*/
    /*background-color: #c9e0ff;*/
/*}*/

/*text {*/
    /*font-weight: 300;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;*/
    /*font-size: 11px;*/
/*}*/

.node rect {
    stroke-width: 1px;
    stroke: #333;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1px;
    fill: none;
}