<div class="grid-25">
    <div class="pom-chooser">
        <div class="pom-chooser-title">Select POM...</div>
        <div class="pom-chooser-body">
            <ul class="pom-list">
                <li ng-repeat="pom in model.pomList.poms"
                    ng-class="{ 'pom-list-item-hovering' : hover}"
                    ng-mouseenter="hover = true"
                    ng-mouseleave="hover = false"
                    ng-click="pomListOnClick($event)">
                    {{pom.name}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="grid-75">
    <tabset>
        <tab heading="Graph">
            <div>
                <svg width="650" height="680" pom-graph dependencies="model.dependencyList">
                    <g transform="translate(20,20)"></g>
                </svg>
            </div>
        </tab>
        <tab heading="Pom">
            <div class="tab-body">
                <!--<pom-view pom="original" current-pom-name="model.currentPomName"/>-->
                <pre class="prettyprint"><pom-view pom="original" current-pom-name="model.currentPomName"/></pre>
            </div>
        </tab>
        <tab heading="Effective Pom">
            <div class="tab-body">
                <!--<pom-view pom="effective" current-pom-name="model.currentPomName"/>-->
                <pre class="prettyprint"><pom-view pom="effective" current-pom-name="model.currentPomName"/></pre>
            </div>
        </tab>

        <tab heading="Dependency List">
            <div class="tab-body">
                <ul class="dependency-list">
                    <li ng-repeat="dependency in model.dependencyList"
                        ng-class="{ 'uniprot-dependency' : dependency.groupId == 'uk.ac.ebi.uniprot' }">
                        {{dependency.groupId}}:{{dependency.artifactId}}:{{dependency.version}}
                    </li>
                </ul>
            </div>
        </tab>

    </tabset>
</div>
