<div class="grid-25">
    <p>We reused the PhoneListCtrl controller that we constructed in previous steps and we added a new, empty
        PhoneDetailCtrl controller to the app/js/controllers.js file for the phone details view.</p>

    <p>Note the use of the :phoneId parameter in the second route declaration. The $route service uses the route
        declaration — '/phones/:phoneId' — as a template that is matched against the current URL. All variables defined
        with the : notation are extracted into the $routeParams object.</p>
</div>

<div class="grid-75">
    <tabset>
        <tab heading="Graph" active="tab.active">thing</tab>
        <tab heading="Pom">
            <!--<pre class="prettyprint prettyprinted">{{originalPom}}</pre>-->
            <pre><code class="prettyprint">
class Voila {
public:
  // Voila
  static const string VOILA = "Voila";

  // will not interfere with embedded tags.
}
            </code></pre>
            <!--<code class="prettyprint">-->
                <!--<parent>-->
                <!--<artifactId>ujdk-parent</artifactId>-->
                <!--<groupId>uk.ac.ebi.uniprot</groupId>-->
                <!--<version>1.0</version>-->
                <!--<relativePath>../uniprot-ujdk-parent</relativePath>-->
            <!--</parent>-->
            <!--</code>-->
        </tab>
        <tab heading="Effective Pom"><pre><code class="prettyprint">{{effectivePom}}</code></pre></tab>
        <tab heading="Effective Pom 2"><pre><code class="prettyprint lang-xml"><my-dir id="effective-pom"></my-dir></code></pre></tab>
        <tab heading="Dependency List">
            <ul>
                <li ng-repeat="dependency in dependencyList">{{dependency.groupId}}:{{dependency.artifactId}}:{{dependency.version}}</li>
            </ul></tab>
        <!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">-->
        <!--{{tab.content}}-->
        <!--</tab>-->
        <!--<tab select="alertMe()">-->
        <!--<tab-heading>-->
        <!--<i class="glyphicon glyphicon-bell"></i> Alert!-->
        <!--</tab-heading>-->
        <!--I've got an HTML heading, and a select callback. Pretty cool!-->
        <!--</tab>-->
    </tabset>
</div>
